.container {
    padding: 20px 30px;
    margin: 15px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
    
}

.tabs button {
    padding: 10px;
    width: 200px;
    cursor: pointer;
    background-color: rgb(57, 51, 51);
    color: white;
}

.tabs button:hover {
    background-color: #9bb3cc;
    color: white;
}

.tab-content {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
    color: black;
    padding-top: 20px;
}
.title{
    padding: 20px;
}